html{ margin-left: 200;
}
.r{ line-height: 2;
}
h4 { color: deepskyblue; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; line-height: 2;
}
h1{ line-height: 0.1; font-size: 50px; white-space: nowrap;;
}
.Grey { color: grey; font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; float:left;
}
h5 { color: grey;
}
pre { font-family:Verdana, Geneva, Tahoma, sans-serif; font-size:medium;
}
.darkgrey { line-height: 0.1; color:rgb(75, 73, 73);
}
p { line-height: 0.1; font-size:15.5;
}
h5 { line-height: 0.1;
}
div{ clear: both;
}
.blue{ float: left;
}
.pic{ line-height:6;
}
.kotpota{ margin-left: -150;
}